@import '../UI/general-styles.scss';

.projects-section {
  background-color: $color-black;
  padding: 8rem 0;
}

.project-right,
.project-left {
  padding: 12rem 32rem 0rem 32rem;
  display: flex;
  justify-content: center;
  gap: 3.2rem;
}

.project-links {
  transition: all 0.7s ease-out 0.5s;
  opacity: 1;
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  gap: 1rem;

  &__btn {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    gap: 1.5rem;
    padding-top: 7rem;
  }

  &__videobox {
    padding: 1rem;
    width: 100%;
    height: 50%;
    margin-top: auto;
  }

  &--off {
    opacity: 0;
    transform: translateX(-5rem);
  }
}

.project-description {
  flex: 1.5;

  &__tech {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 3rem;
  }
}
