@import '../UI/general-styles.scss';

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.modal {
  background-color: $color-white;
  width: 60rem;
  height: 60rem;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
