@import '../../UI/general-styles.scss';

.techstack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  &__img {
    height: 3.5rem;
    width: 3.5rem;

    &--white {
      filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(90deg)
        brightness(100%) contrast(105%);
    }

    &--black {
      filter: invert(0%) sepia(100%) saturate(2%) hue-rotate(90deg)
        brightness(100%) contrast(105%);
    }
  }

  &__text {
    margin-top: 0.5rem;

    &--white {
      color: $color-white;
    }

    &--black {
      color: $color-black;
    }
  }
}
